html, body{
    background-image: url('/person-1.png'),
        url('/pizza-transparent.png');
    background-attachment: fixed;
    background-position: right bottom, -10% 110%;
    background-repeat: no-repeat;
    background-size: 40vw, 30vw;
    background-clip: content-box;
    position: relative;
    background-blend-mode: normal;
    @apply bg-gray-50;
}

.overlay-app{
    filter:blur(4px) brightness(50%);
    backdrop-filter: blur(5px);
}