.dealCards{
    @apply bg-white bg-opacity-50 w-full md:w-64 lg:w-72 xl:w-80 py-6 px-8 flex flex-col rounded-3xl shadow-xl text-center hover:shadow-2xl transition-all duration-300;
    backdrop-filter: blur(10px);

    h1{
        @apply text-4xl font-bold text-green-swan mt-1;
    }
    h2{
        @apply text-3xl font-bold mt-4 text-gray-700;
    }
    h3{
        @apply text-lg font-semibold text-gray-600;
    }
    h4{
        @apply text-xl font-medium text-gray-500;
    }
}